baseURL = "https://lordsudo.github.io/lordsudo-blogsite/"
languageCode = "en-us"
title = "Lord Sudo"

theme = "mana"

[params]
  description = "Decrypting the labyrinth."

[taxonomies]
  tag = "tags"

[[menu.main]]
  name = "Home"
  url = "/"
  weight = 1

[[menu.main]]
  name = "Posts"
  url = "/posts/"
  weight = 2

[[menu.main]]
  name = "Tags"
  url = "/tags/"
  weight = 3

[[menu.main]]
  name = "About"
  url = "/about/"
  weight = 4
