baseURL = "http://localhost/"
languageCode = "en-us"
title = "My Blog"

theme = "mana"

[params]
  description = "Personal blog and notes"

[taxonomies]
  tag = "tags"

[[menu.main]]
  name = "Home"
  url = "/"
  weight = 1

[[menu.main]]
  name = "Posts"
  url = "/posts/"
  weight = 2

[[menu.main]]
  name = "Tags"
  url = "/tags/"
  weight = 3

[[menu.main]]
  name = "About"
  url = "/about/"
  weight = 4
