baseURL = "https://lordsudo.github.io/"
languageCode = "en-us"
title = "Lord Sudo"

theme = "mana"

[params]
  description = "Decrypting the labyrinth."
  disableFingerprinting = true  

[taxonomies]
  tag = "tags"

[[menu.main]]
  name = "Home"
  url = "/"
  weight = 1

[[menu.main]]
  name = "Posts"
  url = "/posts/"
  weight = 2

[[menu.main]]
  name = "Tags"
  url = "/tags/"
  weight = 3

[[menu.main]]
  name = "About"
  url = "/about/"
  weight = 4

[security]
  enableInlineShortcodes = true

[security.funcs]
  getenv = ["^HUGO_"]

[markup]
  [markup.goldmark]
    [markup.goldmark.renderer]
      unsafe = true


